#root  {
    font-family: 'Segoe UI', sans-serif;
    display: flex;
    flex-direction: column;
}
#header {
    flex:.5;
}
#content {
    flex:1;
}
#root .name {
    font-size: 28px;
}

#root .container {
    width: 100px;
    height: 90px;
    border: 2px solid black;
    padding: 3px;
    margin: 3px;
    font-size: 9px;
}
#root .letter {
    font-size: 28px;
    text-align: center;
}